@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product
@{
}
<h3 class="text-danger">Are You sure you want to delete this?</h3>
<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <td>@Model.ProductId</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Category Name</th>
        <td>@Model.CategoryId</td>
    </tr>
</table>
<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" />|
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</form>